div.mt-4
    .row
        .col-lg-3
            button HỌC NGAY
            ul
                li= course.level

        .col-lg-9
            h2= course.name
            iframe(width="560" height="315" src=`https://www.youtube.com/embed/${course.videoId}` frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            p= course.description