div.mt-4
  div
    h3 Khóa học của tôi
    a(href="/me/trash/courses") Thùng rác ({{deletedCount}})
  table.table.mt-4
    thead
      tr
        th(scope="col") #
        th(scope="col") Tên khóa học
        th(scope="col") Trình độ
        th(scope="col" colspan="2") Thời gian tạo
    tbody
      each course, index in courses
        tr
          th(scope="row") {{sum index 1}}
          td {{course.name}}
          td {{course.level}}
          td {{course.createdAt}}
          td
            a(href=`/courses/${course._id}/edit`, class="btn btn-link") Sửa
            a(href="", class="btn btn-link", data-toggle="modal", data-id=`${course._id}`, data-target="#delete-course-modal") Xóa
      else
        tr
          td(colspan="5", class="text-center")
            | Bạn chưa đăng khóa học nào.
            a(href="/courses/create") Đăng khóa học

// Confirm delete course
div#delete-course-modal.modal(tabindex="-1" role="dialog")
  div.modal-dialog(role="document")
    div.modal-content
      div.modal-header
        h5.modal-title Xóa khóa học?
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        p Bạn chắc chắn muốn xóa khóa học này?
      div.modal-footer
        button.btn.btn-secondary(type="button" data-dismiss="modal") Hủy
        button#btn-delete-course.btn.btn-danger(type="button") Xóa bỏ

// Delete hidden form
form(name="delete-course-form" method="POST")

script.
  document.addEventListener('DOMContentLoaded', function() {
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var btnDeleteCourse = document.getElementById('btn-delete-course');

    // When dialog confirm clicked
    $('#delete-course-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      courseId = button.data('id');
    });
    
    // When delete course btn clicked
    btnDeleteCourse.onclick = function () {
      deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
      deleteForm.submit();
    }
  });
