nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
        a.navbar-brand(href='/') F8 education
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        .collapse.navbar-collapse(id='navbarSupportedContent')
            ul.navbar-nav.ml-auto
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='#', id='navbarDropdown', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        img.user-avatar(src='https://avatar-redirect.appspot.com/google/109023826614717592641?size=400', alt='')
                        | Sơn Đặng
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        a.dropdown-item(href='/courses/create') Đăng khóa học
                        .dropdown-divider
                        a.dropdown-item(href='/me/stored/courses') Khóa học của tôi
                        a.dropdown-item(href='/me/stored/news') Bài viết của tôi
                        .dropdown-divider
                        a.dropdown-item(href='#') Đăng xuất