div.mt-4
    h3 Đăng khóa học

    form(method="POST", action="/courses/store")
        .form-group
            label(for="name") Tên khóa học
            input.form-control(type="text", id="name", name="name")
        .form-group
            label(for="description") Mô tả
            input.form-control(type="text", id="description", name="description")
        .form-group
            label(for="videoId") Video ID
            input.form-control(type="text", id="videoId", name="videoId")
        .form-group
            label(for="level") Trình độ
            input.form-control(type="text", id="level", name="level")
        
        button.btn.btn-primary(type="submit") Thêm khóa học