doctype html
html
  head
    meta(charset="UTF-8")
    title Trang của tôi
    link(rel="stylesheet", href="../public/css/app.css")
  body
    // Phần đầu trang (Header)
    include ../partial/header
    

    // Nội dung chính
    block content  
    //lưu ý đây là cú pháp của pug nên phải cẩn thận với cách viết
    //viết cái ở trên cách lề cho đúng kh là khỏi chạy đấy =))))
    // Phần chân trang (Footer)
    
    include ../partial/footer